body {
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #d0adcc;
	font-family: Mulish, Ubuntu, Arial, Impact;
	font-size: 16px;
	color: #333333;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Header */
header {
	height: 250px;
	display: flex;
	background-image: linear-gradient(rgba(208, 173, 204, 0.1), rgba(208, 173, 204, 1)), url(../img/Fond.jpg);
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-around;
	align-items: center;
}

.photo {
	box-shadow: 2px 2px 20px #333333;
}

header p {
	font-family: Mulish, Arial, Impact;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #333333;
}

/* Articulation des sections */
.cv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start stretch;
	margin: auto;
}

.skills {
	width: 20%;
	padding: 30px;
}

.experience {
	background-color: #e5e5e5;
	width: 80%;
	padding: 0 20px;
	border-radius: 80px 0 0 0;
}

.realisation {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 30%;
}

/* Textes */
h1 {
	font-family: Mulish, Arial, Impact;
	font-weight: 600;
	color: #333333;
	text-align: center;
}

h2 {
	font-family: Mulish, Arial, Impact;
	font-weight: 400;
	color: #333333;
	text-align: center;
}

h3 {
	font-family: Ubuntu, Arial, Impact;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	color: #666666;
}

.skills > h3 {
	font-size: 18px;
}

h4 {
	font-size: 18px;
	font-weight: 700;
	color: #a37c9b;
	margin-bottom: 5px;
}

h5 {
	font-size: 18px;
	font-weight: 200;
	color:#666666;
	margin:0;
}

ul {
	margin : 0;
	padding: 0;
}

ul li {
	list-style: none;
	font-family: Ubuntu, Arial, Impact;
	font-weight: 400;
}

.skills ul{
	margin-top: 10px;
}

.experience ul li {
	margin-bottom: 20px;
}

strong {
	color: #666666;
}

.skills > p {
	text-align: justify;
}

.skills > p,
.skills > ul {
	margin-bottom: 0;
	text-align: center;
}

.skills > ul.loisirs {
	text-align: left;
}

/* Icones réseaux */
.reseaux {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-evenly;
}

.icone {
	height: 40px;
	transition: 0.3s;
}

.icone:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 3px #a37c9b);
}

.icone path {
	fill: #333333;
}